<div class="container">

<h1>My Workouts</h1>

	<% @workouts.each do |workout| %>

		<h4><%= link_to "#{workout.weekday}, #{workout.date_formatted} - #{workout.bodypart} ", user_workout_path(@user, workout) %></h4>

	<% end %>

</div>	

<br><br><br>
<div class="container">
	<h3><%= link_to "New Workout", new_user_workout_path(@user) %></h3>
</div>