<div class="container">

<h1>My Workouts</h1>

	<% @workouts.each do |workout| %>

		<h4><%= link_to "#{workout.bodypart} - #{workout.weekday}, #{workout.date_formatted}", user_workout_path(@user, workout) %></h4>

	<% end %>

</div>	
