<div class="container">

<h1>Login to Your Account</h1>
<%= form_tag(sessions_path) do %>
		
		<div class='form-group'>
			<h4>Email:</h4> 
			<%= email_field_tag :email, "",class:'form-control' %>
		</div>
		
		<div class='form-group'>	<h4>Password:</h4> 
			<%= password_field_tag :password, "",class:'form-control' %>
		</div>
		
		<div class='form-group'>
			<%= submit_tag "Login" %>
		</div>

<% end %>
  
</div>


