body {
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

div.alert, div.field_with_errors {
	border: 1px solid red;
	font-weight: bold;
}

li#logout {
	position: absolute;
  right: 25px;
}