<h1>All Exercises</h1>


Filter by Bodypart: 

<%= form_tag(exercises_filter_path) do  %>
 		<%= collection_select :exercise, :bodypart, Exercise.unique_bodyparts, :bodypart, :bodypart  %>	
 		<%= submit_tag "Filter Exercises" %>
 <% end %>
    




<% @exercises.each do |exercise| %>

	<h3><%= exercise.name %></h3>

<% end %>